@import '../SCSS/variables.scss';




@include breakpoints(phone){
@media(min-width: $breakpoint-phone) and (max-width: $breakpoint-large-phone){



    .backgroundAuth{
        // position: relative; 
         background: url('david-becker-resized-unsplash.jpg') no-repeat center center fixed !important;
         background-size: contain;
         background-repeat: no-repeat;
         height: 200vh;

        // &::before {
        //     content: '';
        //     // background-position: 0 0;
        //     background-repeat: no-repeat;
        //     background-size: cover;
        //     position: absolute;
        //     top: 0px;
        //     right: 0px;
        //     bottom: 0px;
        //     left: 0px;
        //     opacity: 0.25;
        //     z-index: -4;
        // }
        
    }
  

    .sliding-menu-container-active{
        width: 50%;
    }

  

    .menu-btn-container{
        width: 100vw;
     
    }


    .smallloginbtn {
        width: 30%;
        font-size: 24px;;
    }
    .smallregisterbtn{
        width: 40%;
    }

    .aboutbtn, .authbtn {
        font-size: 1.0rem;
        width: 50%;
        background-color: $color-navy !important;
        color: $color-white !important;
    
    }

 

 
    .aboutbtn, .authbtn, .increaseempl{

        height: 10%;
        margin-bottom: 5px;
        font-size: 1.0rem;
      
    }
    
  

  

    .aboutus{
                @include about-theme;
                height: 150vh;
                width: 95%;
                font-size: 1.25rem;  
                
            }

            .border{
                padding: 2%;
            }



    
    .authContainer{
        @include auth-cont;
     
        height: 50%;
        width: 60%;
      
        margin-top: 35% !important;
        padding: 5%;
    

   
        }
        .labelText{
            color: $color-navy;
            font-family: $roboto-slab;
        }

    


    .authInputFieldContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        font-size: 0.7rem;
       
       
    }

 
    .unInput{
        font-size: 0.9rem;
    }
  

    .authInputFieldContainer, .labelText, .aboutbtn, .authbtn, .increaseempl, .employeeEngagement, .smallregisterbtn, .smallloginbtn{
        font-size: 1.0rem !important; 
    }

    .increaseempl{
        padding: 3% !important;
    }


}

}



@include breakpoints(tablet){
    @media(min-width: $breakpoint-large-phone) and (max-width: $breakpoint-tablet){

        
        .backgroundAuth{
         
             background: url('david-becker-55Sp4WZmJbQ-unsplash.jpg') no-repeat center center fixed !important;
             background-size: contain;
             background-repeat: no-repeat;
             height: 200vh;    
        }
      

      
        .increaseempl{
            padding: 3%;
            font-size: 1.25rem !important; 
        }

        .icon-btn{
            border: none;
            background-color: $color-white;
            margin-top: 2%;
            width:15%;
        }
    
        .icon-btn-x{
            background-color: $color-white;
        }
    
        .icon-btn-none{
            display: none;
        }

    

        .sliding-menu-container-active{
            width: 20%;
        }

        // .menu-btn-cont{
        //     margin-top: 10%;
        //     width: 100vw;
        //     border: 2px solid black;
        //     align-items: center;
            
        //    @include menu-btn-cont
         
        // }

    




    
        .smallloginbtn {
            width: 50px;
        }
        .smallregisterbtn{
            width: 65px;
        }
    
        .aboutbtn, .authbtn {
            width: 40%;
            // margin-left: 0;
            background-color: $color-navy !important;
            color: $color-white !important;
        }
    
     
        .aboutbtn, .authbtn, .increaseempl{
    
            height: 10%;
            margin-bottom: 5px;
          
        }
        
      
    
      
    
        .aboutus{
                    @include about-theme;
                    height: 150vh;
                    width: 95%;
                    font-size: 1.5rem;  
                }
    
                .border{
                    padding: 2%;
                }
    
    
    
        
        .authContainer{
       
            @include auth-cont;
            height: 30%;
            width: 30%;
          
            margin: auto;
            margin-top: 50%;
            padding: 5%;

       
            }
            .labelText{
                color: $color-mauve;
                font-family: $roboto-slab;
            }
    
        
    
    
        .authInputFieldContainer{
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: $color-purple;
            width: 100%;
           
           
        }
    
    
        .unInput, .authInputFieldContainer, .labelText, .aboutbtn, .authbtn, .increaseempl, .employeeEngagement, .smallregisterbtn, .smallloginbtn{
            font-size: 0.85rem;
        }
    


       

        
    }
    
    }


    @include breakpoints(laptop){
        @media(min-width: $breakpoint-tablet) and (max-width: $breakpoint-laptop){

            .backgroundAuth{
            
                 background: url('david-becker-resized-unsplash.jpg') no-repeat center center fixed !important;
                 background-size: contain;
                 background-repeat: no-repeat;
                 height: 200vh;
        
                
            }
          
            
            .authandinfocontainer{
                display:flex;
                flex-direction: row;
                justify-content: center;
                width: 80vw;
                height: 100vh;
                justify-content: space-between;
                margin: auto;
               
            }

            .sliding-menu-container-active{
        
                width: 20%;
            }

            .increaseempl{
                padding: 1.5%;
                
            }

            .icon-btn{
                border: none;
                background-color: $color-mauve;
                margin-top: 2%;
                width:15%;
            }
    


            .sliding-menu-container-active{
                @include sliding-menu-cont-active;
                width: 20%;
            }

            


            .aboutbtn, .authbtn{
                @include btn-theme;
                font-weight: bold;
                border: none;
               
        
            }


            .smallloginbtn, .smallregisterbtn {
                width: 40%;
            }

           

            .aboutus{
               width: 50vw;
             
               
            }

            .border {
                padding: 2%;
            }
        

      
          
            .authContainer{
              
                margin: auto;
                margin-top: 10%;
                padding: 6%;
           
        
        
                }
    
                .labelText{
                    color: $color-mauve;
                    font-size: 1.0em;
                    font-family: $roboto-slab;
                }
    
        
            .authInputFieldContainer{
                display: flex;
                flex-direction: column;
                justify-content: center;
            }


            .unInput, .authInputFieldContainer, .aboutus, .labelText, .aboutbtn, .authbtn, .increaseempl, .employeeEngagement, .smallregisterbtn, .smallloginbtn{
                font-size: 0.75rem;
            }
        }
        
        }


        @include breakpoints(desktop){
            @media(min-width: $breakpoint-laptop) and (max-width: $breakpoint-desktop){


                .backgroundAuth{
                   
                     background: url('david-becker-55Sp4WZmJbQ-unsplash.jpg') no-repeat center center fixed !important;
                     background-size: contain;
                     background-repeat: no-repeat;
                     height: 200vh;
                     width: 150vw;
            
            
                    
                }
              

        
                .employeeEngagement{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    background-color: $color-white;
                    color: $color-grey;
                    @include border-theme;
                    margin: auto;
                    height: 15%;
                    padding: 2%;
                    font-size: .80rem;
            
                }

                .increaseempl{
                    padding: 1%;
                }

                .sliding-menu-container-active{
        
                    width: 20%;
                }

            
                .authContainer{
                    // display: flex;
                    // background-color: $color-white;
                    align-items: center;
                    // justify-content: left;                    
                    height: 20vh;
                    width: 20vh;
                    color: $color-white;
                    // font-weight: bold;
                    // box-shadow: 4px 4px 4px $color-navy;
                    margin: auto;
                    margin-top: 5%;
                    padding: 4%;
                    // @include auth-cont;
               
            
            
                    }

                    .sliding-menu-container-active{
                        @include sliding-menu-cont-active;
                        width: 20%;
                    }

                    
                .aboutus{
                    width: 30%;
                    font-size: .80rem;
                }

                .border{
                    padding: 3%;
                }
            
           

                .labelText{
                    color: $color-mauve;
                    font-family: $roboto-slab;
                    }
        
            
                .authbtn, .aboutbtn {
                width: 4%;
                }

               

                .smallloginbtn, .smallregisterbtn {
                    width: 40%;
                }
              


                .aboutbtn, .authbtn{
                    @include btn-theme;
                }


            
            
                .authInputFieldContainer{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }

                .unInput, .authInputFieldContainer, .labelText, .aboutbtn, .authbtn, .increaseempl, .smallregisterbtn, .smallloginbtn{
                    font-size: 0.75rem;
                }
                
            }
            
            }

///////////////////////////////end of desktop design


            .body, html{
                background-color: $color-mauve;
            } 



            .authContainer{
                @include auth-cont;                
                color: $color-white;
                }


            .authbtn, .aboutbtn{
                background-color: $color-navy !important;
                color: $color-white !important;
            }

    
          

            .aboutbtn, .authbtn, .smallloginbtn, .smallregisterbtn{
                @include btn-theme;
                font-weight: bold;
            
               
            }


        

            .aboutus{
                @include about-theme;
                height: 100vh;
               
               
            }

            .border {
                border: 2px solid white;
                list-style: none; 
             
            }

        
            p{
                transition: all 1s ease;
            }

            p:hover{
                color: $color-navy;
            }

       

            .unInput, .passInput, .deptInput{
                border: 4px solid $color-mauve;
            }

            .employeeEngagement{
                display: flex;
                // position: fixed !important;
                // position: relative !important;
                flex-direction: column-reverse;
                justify-content: flex-start;
                background-color: $color-white;
                color: $color-grey;
                width: 100%;
                font-size: 1.0rem;
                z-index: 1000;
        
            }


    
        
            .icon-btn{
                border: none;
                background-color: $color-white;
                margin-top: 2%;
                width:15%;
            }
        
            .icon-btn-x{
                background-color: $color-white;
            }
        
            .icon-btn-none{
                display: none;
            }

            .sliding-menu-container{
                @include sliding-menu-cont;


            }
        
            .sliding-menu-container-active{
                @include sliding-menu-cont-active;
            
            }
        
            .menu-btn-container{
               @include menu-btn-cont;
            }
            .increaseempl{
               
               @include employee-engagement;
            }

            .backgroundAuth{
                position: relative; 
                 background: url('david-becker-resized-unsplash.jpg') no-repeat center center fixed !important;
                 background-size: auto;

                // &::before {
                //     content: '';
                //     // background-position: 0 0;
                //     background-repeat: no-repeat;
                //     background-size: cover;
                //     position: absolute;
                //     top: 0px;
                //     right: 0px;
                //     bottom: 0px;
                //     left: 0px;
                //     opacity: 0.25;
                //     z-index: -4;
                // }
                
            }
            

